<h4> Favorites </h4>
<% if @favorites.count > 0 %>
  <table class="striped highlight centered">
    <thead>
      <tr>
          <th data-field="id">Username</th>
          <th data-field="name">Title</th>
          <th data-field="action">Action</th>
      </tr>
    </thead>

    <tbody>
      <%= render(@favorites) %>
    </tbody>
  </table>
<% else %>
  <p>No favorites added yet.</p>
<% end %>
