<h4> Reviews </h4>
<% if @reviews.count > 0 %>
  <table class="striped highlight centered">
    <thead>
      <tr>
          <th data-field="rating">Rating</th>
          <th data-field="feedback">Feedback</th>
      </tr>
    </thead>

    <tbody>
      <%= render(@reviews) %>
    </tbody>
  </table>
<% else %>
  <p>No reviews yet.</p>
<% end %>
